.borrow-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('../assets/image/borrow/bg.png') center center no-repeat;
  background-size: cover;
  .padding {
    padding: 0 16px;
    margin-bottom: 0;
  }
  .processing {
    margin-top: 50px;
    .slot {
      display: block;
      margin: 0 auto 30px;
      width: 190px;
    }
    .percentBar {
      width: 260px;
      margin: 0 auto;
      position: relative;
      .tip {
        display: inline-block;
        width: 45px;
        height: 23px;
        position: absolute;
        top: -25px;
        // left: 50%;
        margin-left: -23px;
        background: url('../assets/image/borrow/percent.png') center center no-repeat;
        background-size: cover;
        color: #00A75D;
      }

      .am-progress-outer {
        border-radius: 4px;
        width: 260px;
        height: 6px;
      }

      .ant-progress-outer {
        text-align: center;
        .ant-progress-inner {
          width: 260px;
          height: 6px;
          background: rgba(255,255,255,0.40);
          .ant-progress-bg {
            height: 6px!important;
          }
        }
      }
    }
  }
  .borrowed {
    .remind {
      display: block;
      width: 292px;
      height: 41px;
      line-height: 33px;
      background: url('../assets/image/borrow/slot.png') center center no-repeat;
      background-size: contain;
      font-size: 15px;
      color: #00A75D;
      margin: 45px auto 10px;
    }
    .slot {
      display: block;
      margin: 0 auto 20px;
      width: 190px;
    }
    .time {
      line-height: 20px;
      img {
        width: 12px;
        height: 12px;
        margin-right: 12px;
        vertical-align: middle;
      }
    }
  }
}

#borrow-modal {
  color: rgba(0,0,0,0.80);
  padding-top: 30px;
  p {
    padding: 0 16px 5px;
  }
  .gray {
    color: rgba(0,0,0,0.40);
  }
  .btns {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #ECECEC;
    .btn {
      display: inline-block;
      width: 50%;
    }
    .back {
      color: rgba(0,0,0,0.85);
      border-right: 1px solid #ECECEC;
    }
    .again {
      color: #51A6EE;
    }
  }
}
.ant-modal-body {
  padding: 0!important;
}
