.message-page {
  width: 100%;
  min-height: 100vh;
  background: #F7F7F7;
  .header-wrap {
    background: #FFFFFF;
  }
  .messages {
    color: rgba(0,0,0,0.85);
    .am-list-body {
      background-color: transparent;
    }
    .message {
      width: 328px;
      margin: 0 auto 16px;
      background: #ffffff;
      padding: 12px;
      box-sizing: border-box;
      &:first-child {
        margin-top: 18px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .messageTitle {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed #D8D8D8;
        padding-bottom: 11px;
        margin-bottom: 11px;
      }
    }
  }
}