.order-list-page {
  width: 100%;
  min-height: 100vh;
  background: #F7F7F7;
  .header-wrap {
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    margin-bottom: 20px;
    .navs-wrap {
      padding-left: 16px;
      .ant-tabs {
        // height: 30px;
        // line-height: 30px;
        font-size: 14px;
        .ant-tabs-bar {
          margin: 0
        }
        .ant-tabs-nav {
          .ant-tabs-tab {
            color: rgba(0,0,0,0.4);
            padding-left: 0;
            padding-right: 0;
          }
          .ant-tabs-tab-active {
            color: rgba(0,0,0,0.85);
          }
        }
        .ant-tabs-ink-bar {
          background-color: #00A75D;
        }
      }
    }
  }

  .lists {
    .order {
      width: 328px;
      min-height: 155px;
      background: #FFFFFF;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
      margin: 0 auto 16px;
      padding: 0 12px 14px 12px;
      .head {
        color: rgba(0,0,0,0.85);
        display: flex;
        justify-content: space-between;
        height: 44px;
        line-height: 44px;
        border-bottom: 1px dashed #E7E7E7;
        margin-bottom: 14px;
        img {
          width: 14px;
          height: 15px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .content {
        color: rgba(0,0,0,0.40);
        position: relative;
        p {
          margin-bottom: 12px;
          width: 250px;
          word-break: break-all;
        }
        .detail {
          width: 50px;
          height: 22px;
          line-height: 22px;
          border: 1px solid #ECECEC;
          border-radius: 9px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

}